html {
    scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

* {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

header {
    width: 100%;
    background: linear-gradient(black, black, rgba(0, 0, 0, 0));
    text-align: center;
    z-index: 1000;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* --- Background dividers --- */

.colour-block {
    background: linear-gradient(black, #29003cbd, #29003cbd, #29003cbd, black);
}

/* --- Font Styles --- */

h1 {
    font-size: 4em; 
    color: #7ABDFF;
    text-align:center; 
    padding: 10px;
}

h2 {
    font-size: 1.8em; 
    color: #9EBDDB; 
    text-align:center; 
    padding: 7px; 
    font-weight: normal;
}

h3 {
    font-size: 2em; 
    color: #7ABDFF; 
    text-align:center; 
    padding: 7px; 
    font-weight: normal;
}

h4 {
    font-size: 4em; 
    color: #ffffff; 
    text-align:center; 
    padding: 7px; 
    font-weight: normal;
}

h5 {
    font-size: 1.5em; 
    color: #ffffff; 
    text-align:center; 
    padding: 7px; 
    font-weight: normal;
}

h6 { 
    font-size: 0.7em; 
    color: #ffffff; 
    text-align:center; 
    padding: 2px; 
    font-weight: normal;
}

p { 
    color: #ffffff; 
    text-align:center; 
    padding: 2px; 
    font-weight: normal;
}

a {
    text-decoration: none;
    font-size: 1.5em;
    color: #7ABDFF;
    display: inline-block;
    padding-top: 15px;
}

a:hover {
    color: #9EBDDB;
}

a:active {
    font-weight: bold;
}

/* --- Navigation --- */

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding-top: 15px;
}

nav a:hover {
    color: #9EBDDB;
}

nav a:active {
    font-weight: bold;
}

/* --- Home Tab --- */

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

canvas {
    position: center;
    width: 25%;
}

.sponsors {
    overflow: hidden;
    
}

.sponsorlogos {
	height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
	gap: 5rem;
	padding-inline: 2.5rem;
}

.sponsor-logo {
	width: 200px;
}

/* --- About Tab --- */

.about {
    text-align: center;
    margin-top: 50px;
}

.info { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info img {
    border-radius: 30px;
    width: 30%;
    max-width: 100%;
    margin: 5%;
}

.info-txt {
    width: 50%;
    padding-left: 20px;
    margin: 5%;
    text-align: center;
}

/* --- Tickets Tab --- */

.countdown {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

.logos {
    overflow: hidden;
    padding-top: 2%;
    padding-bottom: 10%;
}

.resellers {
	height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
	gap: 5rem;
	padding-inline: 2.5rem;
    animation: scrolllogos 40s linear infinite;
}

.resellers-logo {
	width: 200px;
}

@keyframes scrolllogos {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-30%);
    }
}

/* --- Workshops Tab --- */

.gallery {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
 }

.gallery-1 { 
    float: center; 
    width: 20%; 
    text-align:center;
    padding: 0px;
}

.boxgallery {
     border-radius: 20px;
}

.workshop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
}

/* --- Newsletter --- */

.newsletter {
    align-items: center;
    text-align: center;
    padding: 50px;
}

input {
    width: 25%;
    line-height: 42px;
    border-radius: 30px;
    border: 1px solid #747474;
    padding-left: 2%;
}

::placeholder {
    color: #747474;
    font-family: Montserrat, sans-serif;
}

.button {
    background-color: #9EBDDB;
    color: white;
    border: none;
    width: 15%;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    margin-top: 3%;
}

.button:hover {
    background-color: #7ABDFF;
}

/* --- Footer --- */

.footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}